/* Center main content on page */
:root {
	--min: 1rem;
	--max: 1440px;
}

.center-content {
	display: grid;
	grid-template-rows: min-content min-content min-content;
	grid-template-columns:
		minmax(var(--min), 1fr)
		minmax(var(--min), var(--max))
		minmax(var(--min), 1fr);

	@include respond-to("medium") {
		--min: 2rem;
		grid-template-rows: auto 1fr auto;
	}

	& > * {
		grid-column: 2;
	}
}
