/* Align flex children at small and large viewports */

.split-colToRow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;

  @include respond-to("medium") {
    flex-direction: row;
  }

  > * {
    flex: 1;
  }
}

.split-rowToCol {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;

  @include respond-to("medium") {
    flex-direction: column;
  }

  > * {
    flex: 1;
  }
}
