/* Align items to rows/columns and vice vera */
.split-col-to-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  @include respond-to("medium") {
    flex-direction: row;
  }
}

.split-row-to-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  @include respond-to("medium") {
    flex-direction: column;
  }
}
