/* Align flex children at small and large viewports */

.split-colToRow {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;

	@include respond-to("medium") {
		flex-direction: row;
	}

	> * {
		flex: 1;
	}
}

.split-rowToCol {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;

	@include respond-to("medium") {
		flex-direction: column;
	}

	> * {
		flex: 1;
	}
}
