/*   Main planet section
     ================================================== */
.planet {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 100%;
  gap: 2rem 3rem;
  height: 100%;

  ol {
    grid-row: 1;

    > li {
      flex-grow: 0;
    }

    // Adjust link text content
    .large-screens {
      display: none;

      @include respond-to("medium") {
        display: inline;
      }
    }
  }

  @include respond-to("medium") {
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr 1fr;

    h1 {
      grid-area: 2 / 1 / 3 / 2;
    }

    ol {
      grid-area: 2 / 2 / -1 / -1;
      justify-self: center;
    }

    .content {
      grid-area: 3 / 1 / -1 / 2;
    }

    .images {
      grid-area: 1 / 1 / 2 / -1;
    }
  }

  @include respond-to("large") {
    grid-template-rows: auto min-content auto;
    grid-template-columns: 1.25fr 1fr;

    h1 {
      grid-area: 1 / 2 / 2 / -1;
      align-self: end;
    }

    ol {
      grid-area: 3 / 2 / -1 / -1;
      align-self: start;
    }

    .contents {
      grid-area: 2 / 2 / 3 / 2;
      align-self: center;
    }

    .images {
      grid-area: 1 / 1 / -1/ 2;
    }
  }
}

/* Planet images
   ------------------- */
.images {
  display: grid;
  grid-row: 2;

  img {
    grid-area: 1 / 1 / -1/ -1;
    place-self: center;
    margin-top: 1rem;

    &:not(:first-of-type) {
      visibility: hidden;
    }
  }

  [data-image="geology"] {
    position: relative;
    top: 25%;
    max-width: 15rem;

    @include respond-to("medium") {
      max-width: 17.5rem;
    }

    @include respond-to("large") {
      top: 20%;
      max-width: 20rem;
    }
  }
}

/* Planet text
   ------------------- */
.contents {
  display: grid;
  gap: 1rem;

  // Invisible unless JS loads
  .sources,
  .source {
    display: none;
  }

  .source::after {
    content: "";
    position: relative;
    display: inline-block;
    top: 4px;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    background-image: url(../../images/icon-source.svg);
    background-size: 1em 1em;
    background-repeat: no-repeat;
  }

  > .content {
    grid-area: 1 / 1 / -1 / -1;
  }

  /* Fall back in case JS fails */
  > .content {
    visibility: hidden;
  }

  > .content:target {
    visibility: visible;
  }
}
