/* 	Custom Properties
   	================================================== */

:root {
	/* General */
	--alpha: 1;
	--spacer: 1rem;

	/* Colors */
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-200: hsl(240, 6%, 54%);
	--clr-neutral-300: hsl(240, 17%, 26%);
	--clr-neutral-400: hsl(233, 67%, 8%);
	--clr-neutral-500: hsl(0, 0%, 0%);

	/* Accents */
	--home: hsl(0, 0%, 100%);
	--earth: hsl(263, 67%, 51%);
	--jupiter: hsl(10, 63%, 51%);
	--mars: hsl(2, 68%, 53%);
	--mercury: hsl(194, 48%, 49%);
	--neptune: hsl(222, 87%, 56%);
	--saturn: hsl(17, 73%, 46%);
	--uranus: hsl(169, 73%, 44%);
	--venus: hsl(33, 82%, 61%);

	/* Font sizes */
	--step--1: clamp(0.83rem, 0.83rem + 0.02vw, 0.84rem);
	--step-0: clamp(1rem, 0.96rem + 0.19vw, 1.13rem);
	--step-1: clamp(1.2rem, 1.09rem + 0.45vw, 1.5rem);
	--step-2: clamp(1.44rem, 1.24rem + 0.84vw, 2rem);
	--step-3: clamp(1.73rem, 1.4rem + 1.41vw, 2.66rem);
	--step-4: clamp(2.07rem, 1.55rem + 2.22vw, 3.55rem);

	/* Font-families */
	--ff-body: "Spartan", sans-serif;
	--ff-headers: "Antonio", sans-serif;
}
