@import "reset";

/* ==================================================
  Global Styles
  ================================================== */
@import "abstracts/variables";
@import "abstracts/breakpoints";

/* Base Styles
   ================================================== */
body {
  height: 100vh;
  background-color: var(--clr-neutral-400);
  background-image: url("../images/background-stars.svg");
  font-family: var(--ff-body);
  font-size: var(--step-0);
  font-weight: 400;
  line-height: 1.8;
  text-align: center;
  color: var(--clr-neutral-100);

  @include respond-to("medium") {
    text-align: left;
  }
}

h1 {
  font-family: var(--ff-headers);
  font-size: var(--step-2);
}

h2,
.h2,
dt {
  font-size: var(--step--1);
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h2 {
  color: var(--clr-neutral-100);
  pointer-events: none;
}

dt {
  font-weight: 700;
  color: var(--clr-neutral-200);
}

dd {
  font-family: var(--ff-headers);
  font-size: var(--step-1);
}

a {
  text-decoration: none;
  color: var(--clr-neutral-200);

  &:hover {
    color: var(--clr-neutral-100);
  }
}

:hover {
  /* prettier-ignore */
  transition:
    background-color 200ms linear,
    border 200ms linear;
}

/* ==================================================
  Utilities
  ================================================== */
@import "utilities/center-content";
@import "utilities/outline";
@import "utilities/skip-link";
@import "utilities/split";
@import "utilities/visually-hidden";

/* ==================================================
   Blocks
   ================================================== */
@import "blocks/navigation";
@import "blocks/planet-main";
@import "blocks/planet-details";
@import "blocks/buttons";
