<aside class="details">
  <dl class="split-col-to-row" role="list">
    <div class="split-row-to-col">
      <dt>Rotation Time</dt>
      <dd>{{ planet.rotation }}</dd>
    </div>
    <div class="split-row-to-col">
      <dt>Revolution Time</dt>
      <dd>{{ planet.revolution }}</dd>
    </div>
    <div class="split-row-to-col">
      <dt>Radius</dt>
      <dd>{{ planet.radius }}</dd>
    </div>
    <div class="split-row-to-col">
      <dt>Average Temp</dt>
      <dd>{{ planet.temperature }}</dd>
    </div>
  </dl>
</aside>
 