<section class="[ planet ]">
  <h1>{{ title }}</h1>
  <ol class="split-rowToCol buttons" role="list">
    <li>
      <a href="#overview"><h2>Overview</h2></a>
    </li>
    <li>
      <a href="#internal"><h2>Structure</h2></a>
    </li>
    <li>
      <a href="surface"><h2>Surface</h2></a>
    </li>
  </ol>
  <div class="[ flow-content ] [ content ]">
    <p>{{ overview.content }}</p>
    <p class="source">
      Source&nbsp;&nbsp;:&nbsp;&nbsp;
      <a href="{{ overview.source }}">Wikipedia</a>
    </p>
  </div>
  <img src="{{ images.planet }}" alt="{{ title }}" />
</section>
