<section class="planet" style="--accent: var(--{{ planet.name | lower }});">
  <h1>{{ planet.name }}</h1>

  <ol class="split-row-to-col buttons " role="list">
    <li class="h2" data-button="overview">
      <a href="#overview">
        <h2><span class="number">01</span> Overview</h2>
      </a>
    </li>
    <li class="h2" data-button="structure">
      <a href="#structure">
        <h2 aria-label="Internal Structure"><span class="number">02</span>
          <span class="large-screens" aria-hidden="true">Internal</span> Structure
        </h2>
      </a>
    </li>
    <li class="h2" data-button="geology">
      <a href="#geology">
        <h2><span class="number">03</span> Surface</h2>
      </a>
    </li>
  </ol>

  <div class="contents">
    <p id="overview" class="content" data-content="overview">
      {{ planet.overview.content }}
    </p>
    <p id="structure" class="content" data-content="structure">
      {{ planet.structure.content }}
    </p>
    <p id="geology" class="content" data-content="geology">{{ planet.geology.content }}</p>
    <p class="sources">
      Source&nbsp;&nbsp;:&nbsp;&nbsp;
      <a class="source" data-source="overview" href="{{ overview.source }}">
        <span class="visually-hidden">Overview </span>Wikipedia
      </a>
      <a class="source" data-source="structure" href="{{ structure.source }}">
        <span class="visually-hidden">Structure </span>Wikipedia
      </a>
      <a class="source" data-source="geology" href="{{ geology.source }}">
        <span class="visually-hidden">Geology </span>Wikipedia
      </a>
    </p>
  </div>

  <div class="images">
{% include "partials/images/planet-" + planet.name.toLowerCase() + ".svg" %}
{% include "partials/images/planet-" + planet.name.toLowerCase() + "-internal.svg" %}
  <img
  data-image="geology"
  src="{{ planet.images.geology }}"
  alt="{{ planet.name }} surface"
  loading="lazy"
/>
  </div>
</section>