<section class="planet">
  <h1>{{ title }}</h1>
  <ol class="[ split-row-to-col ] [ buttons ]" role="list">
    <li class="h2" data-button="overview">
      <a href="#overview"><h2>Overview</h2></a>
    </li>
    <li class="h2" data-button="structure">
      <a href="#structure"><h2>Structure</h2></a>
    </li>
    <li class="h2" data-button="geology">
      <a href="#geology"><h2>Surface</h2></a>
    </li>
  </ol>
  <div class="contents">
    <p id="overview" class="content" data-content="overview">{{ overview.content }}</p>
    <p id="structure" class="content" data-content="structure">{{ structure.content }}</p>
    <p id="geology" class="content" data-content="geology">{{ geology.content }}</p>
    <p class="sources">
      Source&nbsp;&nbsp;:&nbsp;&nbsp;
      <a class="source" data-source="overview" aria-label="Wikipedia {{ title }} overview" href="{{ overview.source }}">Wikipedia</a>
      <a class="source" data-source="structure" aria-label="Wikipedia {{ title }} structure" href="{{ structure.source }}">Wikipedia</a>
      <a class="source" data-source="geology" aria-label="Wikipedia {{ title }} geology" href="{{ geology.source }}">Wikipedia</a>
    </p>
  </div>
  <img src="{{ images.planet }}" alt="{{ title }}" />
</section>
