<header role="banner" class=" center-content site-head">
    <a class="skip-link" href="#main-content">Skip to Main Content</a>
    <div class="site-head__inner">
      <a href="../../index.html" class="site-name" aria-label="{{ site.name }} - home">The Planets</a>
      <burger-menu max-width="810">
        <nav class="navigation" aria-label="primary">
          <ul class="no-style">{% for item in navigation.items  %}
            <li style=" --accent: var(--{{ item.text | lower }});">
              <a
              href="{{ item.url }}"
              {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
                {{ item.text }}</a>
            </li>{% endfor %}
          </ul>
        </nav>
      </burger-menu>
    </div>
</header>